<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fisher Supply</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link href="assets/css/animate.css" rel='stylesheet' type='text/css'>
    <link href="assets/css/style.css" rel='stylesheet' type='text/css'>
    <link href="assets/foundation-icons/foundation-icons.css" rel='stylesheet' type='text/css'>
    <link href="bower_components/angular-material/angular-material.css" />
    <link rel="shortcut icon" href="assets/images/fav.ico" />
</head>

<body ng-app="fisherApp">
    <div class="main-bg">
        <div class="title-bar mobile-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
            <img src="assets/images/fisherlogow.png" width="120" />
            <button class="menu-icon" type="button" data-toggle="main-menu" class="float:right;"></button>
            <div class="title-bar-title"></div>
        </div>
        <div id="main-menu" class="row column top-bar main-bar title-bar">
            <div class="top-bar-left show-for-medium">
                <ul class="menu">
                    <li class="menu-text"><img src="assets/images/fisherlogow.png" width="200" /></li>
                </ul>
            </div>
            <div class="top-bar-right" ng-controller="specialRequest">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#parts">Parts & Machinery</a></li>
                    <li><a ng-click="openForm()" href="">Special Requests</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div ui-view></div>
        <div id="intro-head" class="animate-bounce-start">
            <div class="row column text-center">
                <h1>Heavy Machinery & Parts</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
                <a href="#" class="button blue round large">Learn More</a>
            </div>
        </div>
    </div>

    <div id="brands">
        <div class="row">
            <div class="medium-12 columns text-center">
                <h5>Brands We Sell</h5>
                <div class="row animate-slide">
                    <div class="brand small-4 medium-2 columns">
                        <img src="assets/images/brands/terex.png" />
                    </div>
                    <div class="brand small-4 medium-2 columns">
                        <img src="assets/images/brands/terex.png" />
                    </div>
                    <div class="brand small-4 medium-2 columns">
                        <img src="assets/images/brands/terex.png" />
                    </div>
                    <div class="brand small-4 medium-2 columns">
                        <img src="assets/images/brands/terex.png" />
                    </div>
                    <div class="brand small-4 medium-2 columns">
                        <img src="assets/images/brands/terex.png" />
                    </div>
                    <div class="brand small-4 medium-2 columns">
                        <img src="assets/images/brands/terex.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="parts" class="row column text-center title-block">
        <h3>We Sell Parts For...</h3>
    </div>

    <div class="row animate-bounce" id="parts-for">
        <div class="medium-4 columns">
            <img class="thumbnail" src="assets/images/categories/cranes.jpg">
            <h3 class="text-center">Cranes</h3>
        </div>
        <div class="medium-4 columns">
            <img class="thumbnail" src="assets/images/categories/trucks.jpg">
            <h3 class="text-center">Heavy Machinery</h3>
        </div>
        <div class="medium-4 columns">
            <img class="thumbnail" src="assets/images/categories/forklifts.jpg">
            <h3 class="text-center">Forklifts</h3>
        </div>
    </div>

    <div id="we-also">
        <div class="row animate-bounce">
            <div class="medium-6 column text-center">
                <div class="we-also-inner">
                    <div class="center-vertically">
                        <img src="assets/images/construction-safety.png" alt="" style="width:30%; " />
                    </div>
                </div>
            </div>
            <div class="medium-6 column">
                <div class="we-also-inner">
                    <div class="center-vertically">
                        <h3>We also provide...</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum ex at dapibus facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum porta tortor et dui auctor, non vehicula dolor mattis. Quisque id justo aliquam, interdum velit vehicula, viverra ante.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="distribuitors">
        <div class="row animate-bounce">
            <div class="medium-6 medium-push-6 column">
                <div class="distribuitors">
                    <div class="medium-8 column end">
                        <div class="distribuitors-logo">
                            <img src="assets/images/salt-away.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="medium-6 medium-pull-6 column">
                <div class="distribuitors">
                    <h3>Salt Away Distribuitors</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum ex at dapibus facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum porta tortor et dui auctor, non vehicula dolor mattis. Quisque id justo aliquam, interdum velit vehicula, viverra ante.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="about-us" class="about-us-wrapper">
        <div class="about-us row column text-center animate-bounce">
            <h2 class="title">About Us</h2>
            <div class="text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia tellus in libero bibendum tristique. Quisque a blandit diam. Phasellus eu ligula eu mi rhoncus hendrerit a at libero. Sed libero nunc, dictum nec pharetra sed, elementum vel purus. Aenean venenatis odio massa, in ultricies justo finibus eget. Proin vel lacus mi. Fusce et metus sollicitudin, rutrum orci eu, tincidunt nunc. Donec ornare rhoncus lacinia.</p>
            </div>
            <div>
                <br/>
                <img src="assets/images/fisherlogow.png" width="200">
            </div>
        </div>
    </div>

    <div id="contact-us" class="contact-us-wrapper">
        <div class="contact-us row column text-center animate-swing">
            <h2 class="title">Contact us</h2>
            <div class="contact-form">
                <form name="contactForm" ng-controller="validationCtrl">
                    <div class="">
                        <div class="medium-12 columns">
                            <h4 class="title text-left">Getting in touch is easy!</h4>
                        </div>
                        <div class="medium-5 columns" ng-hide="messageSent">
                            <div>
                                <input type="text" placeholder="Your name" ng-model="user.name" required>
                                <div>
                                    <md-progress-circular md-mode="indeterminate" md-diameter="30px" class="circulito" ng-show="checkingEmail">
                                    </md-progress-circular>
                                </div>
                            </div>
                            <div>
                                <input type="email" placeholder="Your email" ng-model="user.email" required>
                                <p ng-show="message.validation.show" style="color:{{message.validation.color}};
                                          font-size: 12px;
                                          margin-left:-30%;
                                          margin-top:-3%" ng-cloak="">
                                    {{message.validation.text}}
                                </p>
                            </div>
                            <div>
                                <textarea placeholder="Your message" ng-model="user.message" ng-focus="checkEmail()" required></textarea>
                            </div>
                            <div class="text-right" ng-controller="emailCtrl">
                                <p style="color:red" ng-show="errorMessage.active">{{errorMessage.text}}</p>
                                <button ng-click="sendEmail(contactForm)" ng-disabled="message.validation.is_valid" style="background:{{message.validation.button}};" class="button blue round large">
                                    <span ng-hide="sendingEmail">Send!</span>
                                    <md-progress-circular md-mode="indeterminate" md-diameter="30px" class="circulito" ng-show="sendingEmail"></md-progress-circular>
                                </button>
                            </div>
                        </div>
                        <div class="medium-3 columns text-left">
                            <div class="contact-info">

                                <div class="contact-blocks">
                                    <div class="contact-icon">
                                        <i class="fi-marker icon"></i>
                                    </div>
                                    <div>
                                        <p>854 Rocky Road</p>
                                        <p>Ambler, PA 19002</p>
                                    </div>
                                </div>

                                <div class="contact-blocks">
                                    <div class="contact-icon">
                                        <i class="fi-telephone icon"></i>
                                    </div>
                                    <div>
                                        <p>+1 305 3646 009</p>
                                        <p>+1 305 1234 567</p>
                                    </div>
                                </div>

                                <div class="contact-blocks">
                                    <div class="contact-icon">
                                        <i class="fi-mail icon"></i>
                                    </div>
                                    <div class="contact-details">
                                        <p>contact@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="map medium-4 columns">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57464.69168250767!2d-80.38919204006787!3d25.81863920426226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bc6ffa603329%3A0xb1282f675bf065b0!2sDoral%2C+FL%2C+USA!5e0!3m2!1sen!2sve!4v1488652996561" width="100%" height="265" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="row column">
            <div class="medium-6 columns">
                <p class="text-left">© 2017 Fishers Supply LA, LLC. All rights reserved.</p>
            </div>
            <div class="medium-6 columns">
                <p class="text-right">Designed & Developed by <a href="http://aiotik.com">aiotik</a></p>
            </div>
        </div>
    </div>
    <!-- The Modal -->
        <div id="myModal" class="modal">
    <!-- Modal content -->

        <div class="modal-content modal-sent-email">
            <div class="modal-header">
                <span id="close">&times;</span>
                <p class="modal-title">Email Sent!</p>
            </div>
            <div class="modal-body">
                <p>Thanks for being interested in our bussiness, we will be contacting you
                <b>as soon as possible.</b></p>
                <p style="text-align: center; padding-top:30px"><img src="assets/images/fisherlogo.png" style="width:200px;" ng-hide="sendingEmail"></p>
            </div>
        </div>

    </div>

    <!-- SPECIAL REQUEST -->
    <div id="special-request" class="modal">
        <!-- Modal content -->
        <div class="modal-content modal-sent-email">
            <div class="modal-header">
                <span class="close">&times;</span>
                <p class="modal-title">Special Request</p>
            </div>
            <div class="modal-body">
                <div class="contact-form">
                    <form name="specialForm" ng-controller="validationCtrl">
                        <div class="row">
                            <div class="medium-12 columns">
                                <h4 class="title text-left">Getting in touch is easy!</h4>
                            </div>
                            <div class="medium-12 columns" ng-hide="messageSent">
                                <div class="row">
                                    <div class="medium-6 columns">
                                        <input type="text" placeholder="Your name" ng-model="user.name" required>
                                    </div>
                                    <div class="medium-6 columns">
                                        <input type="text" placeholder="Your last name" ng-model="user.lastname" required>
                                    </div>
                                    <div class="medium-6 columns">
                                        <input type="email" placeholder="Your email" ng-model="user.email" required>
                                        <p ng-show="message.validation.show" style="color:{{message.validation.color}}">{{message.validation.text}}</p>
                                        <div style="margin-left:5%; margin-top:-2%; margin-bottom:2%" ng-show="checkingEmail">
                                            <md-progress-circular md-mode="indeterminate" md-diameter="30px" class="circulito" ng-show="true"></md-progress-circular>
                                        </div>
                                    </div>
                                    <div class="medium-6 columns">
                                        <input type="text" ng-model="user.phone" ui-mask="(999) 999-9999" required>
                                        <p style="font-size:10px; font-size:10px; margin-top:-3%; margin-left:1%">Phone Number*</p>
                                    </div>
                                    <div class="medium-12 columns">
                                        <textarea placeholder="Project Description" ng-focus="checkEmail()" ng-model="user.project_description" required></textarea>
                                    </div>
                                    <div class="medium-12 columns" ng-controller="emailCtrl">
                                        <div class="fs-wrapper">
                                            <fieldset class="fieldset">
                                                <legend>Project Requirements</legend>
                                                <input id="checkbox12"
                                                       type="checkbox"
                                                       ng-model="requirement.c"
                                                       ng-true-value="'Cranes'"
                                                       ng-false-value="'false-0'"
                                                       ng-click="addRequirement(requirement.c)"
                                                       >
                                                <label for="checkbox12">Cranes</label>
                                                <input id="checkbox22"
                                                       type="checkbox"
                                                       ng-model="requirement.t"
                                                       ng-true-value="'Tractors'"
                                                       ng-false-value="'false-1'"
                                                       ng-click="addRequirement(requirement.t)"
                                                       >
                                                <label for="checkbox22">Tractors</label>
                                                <input id="checkbox32"
                                                       type="checkbox"
                                                       ng-model="requirement.b"
                                                       ng-true-value="'Building Material'"
                                                       ng-false-value="'false-2'"
                                                       ng-click="addRequirement(requirement.b)"
                                                       >
                                                <label for="checkbox32">Bulding Material</label>
                                                <input id="checkbox42"
                                                       type="checkbox"
                                                       ng-model="requirement.o"
                                                       ng-true-value="'Other'"
                                                       ng-false-value="'false-3'"
                                                       ng-click="addRequirement(requirement.o)"
                                                       >
                                                <label for="checkbox42">Other</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-equalizer>
                                    <div class="medium-6 columns panel" data-equalizer-watch>
                                        <textarea placeholder="Your message"
                                                  style="height:100%;"
                                                  ng-model="user.message"
                                                  ng-focus="checkEmail()"
                                                  required></textarea>
                                    </div>
                                    <div class="medium-6 columns panel" data-equalizer-watch ng-controller="specialRequest">
                                        <div class="upload-wrapper">
                                            <p>Upload Your Excel File</p>
                                            <div class="button" ngf-select="select($files)" ng-model="file" name="file" ngf-max-size="20MB">{{selectedFile.name}}...</div>
                                            <button class="button" type="submit" ng-click="submit(file)" ng-disabled="submitingFile">Submit <i class="fi-upload icon"></i></button>
                                            <md-progress-circular md-mode="indeterminate" md-diameter="30px" class="circulito" ng-show="submitingFile"></md-progress-circular>
                                            <div ng-show="submitMessage.activated"><p style="color:{{submitMessage.color}}">{{submitMessage.message}}</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-controller="emailCtrl">
                                    <div class="medium-4 medium-offset-4 columns end">
                                        <button ng-disabled="message.validation.is_valid"
                                                style="background:{{message.validation.button}};
                                                width:100%;margin-top: 20px;"
                                                ng-click="sendEmail(specialForm)"
                                                class="button blue round large">
                                            <span ng-hide="sendingEmail">Send!</span>
                                            <md-progress-circular md-mode="indeterminate" md-diameter="30px" class="circulito" ng-show="sendingEmail"></md-progress-circular>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="assets/js/jquery.viewportchecker.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
        $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        $(document).ready(function () {
            $('.animate-bounce').addClass("hidden").viewportChecker({
                classToAdd: 'visible animated bounceIn',
                offset: 200
            });

            $('.animate-bounce-start').viewportChecker({
                classToAdd: 'visible animated bounceIn',
                offset: 100
            });

            $('.animate-slide').addClass("hidden").viewportChecker({
                classToAdd: 'visible animated slideInLeft',
                offset: 100
            });

            $('.animate-swing').addClass("hidden").viewportChecker({
                classToAdd: 'visible animated swing',
                offset: 200
            });

        });
    </script>
    <script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>

    <!--javascript-->
    <!--build:bower-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-all.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <!--End: bower-->
    <!--build:angular-->
    <script src="app/app.js"></script>
    <!--build:services-->
    <script src="app/services/user.srv.js"></script>
    <!--End: services-->
    <!--build:controllers-->
    <script src="app/controllers/validation.ctrl.js"></script>
    <script src="app/controllers/specialRequest.ctrl.js"></script>
    <script src="app/controllers/sendEmail.ctrl.js"></script>
    <!--End: controllers-->
    <!--End:angular-->
    <!--End javascript-->

</body>
