h1,h2,h3,h4,h5 {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*
Intro head
*/

#intro-head {
    padding: 80px 0;
    color: white;
}

#intro-head h1,
#intro-head .lead {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.main-bar {
/*    width: 90%;*/
    margin: 0 auto;
/*    display: none;*/
}

.main-bg .title-bar {
    position: relative;
}

.menu-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}

.top-bar,
.top-bar ul {
    background: transparent;
}

.top-bar-right .menu {
    margin-top: 15px;
}

.top-bar-right .menu a {
    color: white;
}

.main-bg {
    background: url("../images/header-bg.jpg") top center;
    background-attachment: fixed;
}


/*
Brands we sell
*/

#brands {
    /*    background: #001123;*/
    /*    background: #007CFF;*/
/*    background: #FFA100;*/
    background: #B22234;
    color: white;
    padding: 20px 0;
}

#brands img {
    max-height: 19px;
}

#brands .brand {
    padding: 20px 0;
}


/*
parts for
*/

#parts-for {
    padding: 60px 0 80px;
}


/*
We also
*/

#we-also {
    background: url("../images/we-also.jpg") center no-repeat;
    background-attachment: fixed;
    color: white;
}

#we-also > div {
    padding: 150px 0;
}

.we-also-inner {
    position: relative;
}

.we-also-inner p {
    text-align: justify;
}

/*
distribuitors
*/

#distribuitors .distribuitors {
    padding: 80px 0;
}

#distribuitors .distribuitors p {
    text-align: justify;
}

#distribuitors .distribuitors .distribuitors-logo {
    margin-top: 40px;
}


/*
about us
*/

.about-us-wrapper {
    color: white;
    /*    background: #007CFF;*/
/*    background: #FFA100;*/
    background: #4F69B1;
    padding: 80px 0;
}


/*
contact us
*/

.contact-us-wrapper {
    background: #1989FF url("../images/contact-us.jpg") center no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.contact-us {
    padding: 80px 0;
}


/*
contact form
*/

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: none;
}

textarea {
    height: 150px;
}

.text-right input[type="submit"],
.text-right button {
    margin-right: 0;
}

.contact-form .contact-info p {
    margin-bottom: 0;
}

.contact-form .contact-info .contact-blocks {
    margin-bottom: 10px;
}

.contact-form .contact-info .contact-blocks .contact-icon {
    vertical-align: super;
    margin-right: 10px;
}

.contact-form .contact-info .contact-blocks .contact-details {
    height: 60px;
    vertical-align: middle;
}

.contact-form .contact-info .contact-blocks .contact-icon .icon {
    font-size: 2rem;
}

.contact-form .contact-info .contact-blocks > div {
    display: inline-block;
}

.contact-form .upload-wrapper {
    background: white;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
}

.contact-form .upload-wrapper p {
    color: #a9a9a9;
}

.map iframe {
    border: 5px solid white;
}

/*
footer wrapper
*/

.footer-wrapper {
    background: #001123;
    color: white;
    padding: 20px 0;
    font-size: 0.8rem;
}

.footer-wrapper p{
    margin: 0;
    opacity: 0.5;
}

.footer-wrapper a{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

/*
titles
*/

.title-block {
    padding: 50px 0 0;
}

.title {
    margin-bottom: 40px;
}


/*
Buttons
*/

.button.blue {
    background: #008BF3;
}

.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*
animations
*/

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

button, a {
    outline: none;
}

/*
media queries
*/

@media only screen and (max-width: 40em) {

    .main-bg,
    #we-also,
    .contact-us-wrapper{
        background-size: cover;
    }

    .we-also-inner img {
        margin-bottom: 60px;
    }

    #main-menu {
        position: relative;
    }

    .top-bar-right .menu {
        position: fixed;
        right: 0;
        top: 0;
        width: 60%;
        background: #002f61;
        z-index: 99;
        margin-top: 47px;
    }

    .top-bar-right .menu li {
        display: block;
        padding: 10px 0 10px 10px;
    }

    .title-bar.mobile-bar {
    background: #002f61;
    position: fixed;
    z-index: 99;
    width: 100%;
    }
}

.circulito md-progress-circular path{
    stroke: #fff;
}

.fieldset {
    border: none;
    color: #A9A9A9;
}

.fieldset label {
    color: #a9a9a9;
}

.fs-wrapper {
    background: white;
    padding: 10px 0 0 0;
}

.modal {
    display: none;  Hidden: by default;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: hidden;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 50%;
    max-height: 90%;
    overflow: scroll;

/*        width:40%; height: 22%;background: #162636; opacity: 0.9*/
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    line-height: 67px;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4f69b1;
    color: white;
    position: relative;
}

.modal-header .modal-title{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-body {
    padding: 60px 80px;
    color: #0a0a0a;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
